.nav-bar{
	background-color:	@accent;
	position:			fixed;
	width:				100%;
	height:				120px;
	bottom:				0px;
	float:				left;
}

.nav-links {
	width:				540px;

	.current {
		font-weight:	bold;
	}
}

.nav-link {
	line-height:		120px;
	float:				left;
	margin-left:		20px;
	margin-right:		20px;
	color:				@off-accent;
	font-size:			32px;
	font-weight:		300;

	a {
		color:@off-accent;
		text-decoration:none;
	}
}
