.social {
	width:				@social-icon-size;
	height:				@social-icon-size;

	float:				left;
	margin-right:		@social-icon-spacing;

	img {
		width:			@social-icon-size;
		height:			@social-icon-size;
		max-width:		@social-icon-size;
		max-height:		@social-icon-size;
	}

	:hover {
		opacity:		0.8;
		filter:			alpha(opacity=80); /* For IE8 and earlier */
	}
}


