@blue:				#1164C3;
@grey:				#E6E6E6;
@dark-grey:			#535353;
@white:				#FFFFFF;

@main-width:		1000px;
@main-height:		600px;

@nav-bar-color:		@blue;
@nav-bar-height:	160px;

body {
	background-image:	url("../img/back.jpg");
	margin: 0px;
} 


.slide {
	background-color:	@white;
	position:			relative;
	top:				50%;
	left:				50%;
	margin-top:			-(@main-height + @nav-bar-height) / 2;
	margin-left:		-@main-width / 2;
	height:				@main-height;
	width:				@main-width;

	-moz-box-shadow:	0 0 15px rgba(33,33,33,0.2);
    -webkit-box-shadow:	0 0 15px rgba(33,33,33,0.2);
    box-shadow:			0 0 15px rgba(33,33,33,0.2);
}

.nav-bar {
	background-color:	@nav-bar-color;
	position:			relative;
	width:				100%;
	height:				@nav-bar-height;
	top:				100%;
	margin-top:			-@nav-bar-height;
	float:left;
}
