#container {
	position:relative;
	width:1000px;
	height:600px;
	margin:auto;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	z-index:100;
    background:#FFFFFF;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	position:relative;
    width:1000px;
	overflow:hidden;
	display:none;
}

.slides_container div.slide {
	width:1000px; height:600px;
	display:block;
}

#slides .next, #slides .prev{
	position:absolute; top:280px; left:10px;
	width:21px; height:40px;
	display:block;
	z-index:101;
}


#slides .next{
	left:971px;
}

.pagination {
	position:absolute;
	left:440px;
	top:414px;
	margin-left:auto;
    margin-right:auto;
	width:90px;	
	z-index:101;
}

.pagination li {
	float:left;
	margin:0px 1px 20px 0px;
	list-style:none;
	z-index:101;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.svg);
	background-position:0 0;
	float:left;
	overflow:hidden;
	z-index:101;
}

.pagination li.current a {
	background-position:0 -12px;
	z-index:101;
}
