.nav-bar {
	background-color:		@accent;
	position:				fixed;
	width:					100%;
	height:					@nav-bar-height;
	top:					100%;
    margin-top: 			-@nav-bar-height;
	float:					left;
}

.nav-links {
	width:					540px;
	margin:					0 auto;

	.current {
		font-weight:		bold;
	}
}

.nav-link {
	line-height:			@nav-bar-height;

	text-align:				center;

	margin-left:			@nav-link-spacing / 2;
	margin-right:			@nav-link-spacing / 2;
	float:					left;

	color:					@off-accent;
	font-size:				32px;
	font-weight:			300;

	a {
		color:				@off-accent;
		text-decoration:	none;
	}
}
