@center-pane-width:			1000px;
@center-pane-height:			600px;

@half-pane-width:			@center-pane-width / 2;
@half-pane-height:			@center-pane-height;

@panel-content-margin: 50px;
@panel-content-width: @half-pane-width - 2*@panel-content-margin;
@panel-content-height: @half-pane-height - 2*@panel-content-margin;

@nav-bar-height:			120px;
@nav-link-spacing:			40px;

@slide-width:				@center-pane-width;
@slide-height:				@center-pane-height;

@slide-image-width:			@slide-width;
@slide-image-height:			460px;
@slide-description-width:		@slide-width;
@slide-description-height:		@slide-height - @slide-image-height;

@social-icon-size:			64px;
@social-icon-spacing:			10px;
