.slide-image {
	width:	100%;
	height: 460;	
}

.slide-description {
	padding:		10px;
	left:	50px;
	background-image: url("../img/slide-background.png");
	position: absolute;
	width: 900px;
	height: 140px;
	top:100%;
	margin-top:	-140px;
	float:	left;
}

.slide-description h1{
	color:			#535353;
	font-weight:	300;
	font-size:		24pt;
	display:		inline;
}
