.social {
	width:			64px;
	height:			64px;

	float:			left;
	margin-right:	10px;
}

.social img {
	width:			64px;
	height:			64px;
	max-width:		64px;
	max-height:		64px;
}

.social:hover {
	opacity:		0.8;
	filter:			alpha(opacity=80); /* For IE8 and earlier */
}
