body {
	background-image:url("../img/back.jpg");
	height:100%;
	width:100%;
	margin:0px;
	color:#535353;
	font-size:16px;
	font-family:'Lato',sans-serif;
	font-weight:400;
	font-smooth:always;
}

h1 {
	color:#457016;
	font-weight:300;
	line-height:40px;
	font-size:60px;
}

.whitespace{
	background-color:#FFFFFF;
	position:relative;
	top:50%;
	left:50%;
	margin-top:-360px;
	margin-left:-500px;
	height:600px;
	width:1000px;
	-moz-box-shadow:0 0 15px rgba(33, 33, 33, 0.2);
	-webkit-box-shadow:0 0 15px rgba(33, 33, 33, 0.2);
	box-shadow:0 0 15px rgba(33, 33, 33, 0.2);
}

.leftpanel{
	position:absolute;
	top:0px; left:0px;
	background-image:url('../img/left-panel-background.jpg');
	width:500px;
	height:600px;
}

.leftpanel_content{
	position:absolute;
	top:50px; left:50px;
	width:400px;
	height:500px;
	text-align:justify;
}

.rightpanel{
	position:absolute;
	top:0px; left:500px;
	width:500px;
	height:600px;
}

.nav-bar{
	background-color:#457016;
	position:fixed;width:100%;
	height:120px;
	bottom:0px;
	float:left;
}

.nav-links {
	width:540px;
}

.nav-links .current {
	font-weight:bold;
}

.nav-link {
	line-height:120px;
	float:left;
	margin-left:20px;
	margin-right:20px;
	color:#ffffff;
	font-size:32px;
	font-weight:300;
}

.nav-link a {
	color:#ffffff;
	text-decoration:none;
}
