html {
    width:100%; height:100%;
    min-width:1024px;
    min-height:768px;  
}

body {
    width:100%; height:100%;   
    background-image:url(../img/dark_linen.png);
    background-repeat:repeat;
}


/* --- HEADER DIVS --- */


#header{
    position:absolute; top:0px;
	width:100%; height:140px;
    min-width:1024px;
    z-index:2;
}

#header_full_width_white_space{
    position:absolute; top:0px;
	width:100%;	height:100px;
    min-width:1024px;
    background:#FFFFFF;
    -moz-box-shadow: 0 0 15px rgba(33,33,33,0.2);
    -webkit-box-shadow: 0 0 15px rgba(33,33,33,0.2);
    box-shadow: 0 0 15px rgba(33,33,33,0.2);
    z-index:1;
}

#header_banner_white_space{
    position:absolute; top:0px;
	width:50%; height:140px;
    min-width:500px;
	background:#FFFFFF;
    -moz-box-shadow: 0 0 15px rgba(33,33,33,0.2);
    -webkit-box-shadow: 0 0 15px rgba(33,33,33,0.2);
    box-shadow: 0 0 15px rgba(33,33,33,0.2);
    z-index:2;
}

#header_content{
    position:relative; top:0px;
    width:1000px; height:140px;
    margin-left:auto;
    margin-right:auto;
    z-index:3;
}

#banner_content{
    position:absolute; top:0px; left:0px;
    height:140px; width:500px;
    text-align:center;
}

#banner_title{
    position:relative;
    top: 20px;
    font-color:#333333; font-size:50px; font-family: 'Lato', sans-serif; font-weight: 900;
}

#banner_stars_image{
    position:relative;
    top: 14px;
}

#banner_subtitle{
    position:relative;
    top: 12px;
}

#links_content{
    position:absolute; left:500px;
    width:500px; height:124px;
}

#sublinks_content{
    position:absolute; top:100px; left:500px;
    width:500px; height:40px;
    background:rgba(0,0,0,0.04);
    text-align:center;
}

#sublink{
    position:relative; top:10px;
    padding: 10px;
}


/* --- CONTENT AREA DIVS --- */


#grey_center_region{
	width:1000px;
	position:absolute
    top:0px;
    
	margin-left:auto;
	margin-right:auto;
    background-color:#F7F7F7;
    
    -moz-box-shadow: 0 0 25px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.7);
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    
    z-index:1;
}


#text_box{
    padding: 10px 40px 10px 40px;
}

#story_title{
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 5px 40px 15px 40px;
    font-color:#333333; font-size:33px; font-family: 'Lato', sans-serif;font-weight:900;
    text-align:center;
}


#story{
    position: relative;
    width:1000px;
    height:600px;
    background:#FFFFFF;
    -moz-box-shadow: 0 0 40px rgba(33,33,33,0.5);
    -webkit-box-shadow: 0 0 40px rgba(33,33,33,0.5);
    box-shadow: 0 0 40px rgba(33,33,33,0.5);
    
}

#member_image{
    position:absolute; top:100px; left:620px;
}

#content{
    position: absolute;
    top: 200px;
	left: 90px;
	width: 500px;
}

#placeholder{
    position:absolute; top:000px; left:000px;
}


/* --- FOOTER DIVS --- */


#footer{
	width:100%; height:212px;
    min-width:1000px;
    background:#FFFFFF;
    -moz-box-shadow: 0 0 15px rgba(33,33,33,0.2);
    -webkit-box-shadow: 0 0 15px rgba(33,33,33,0.2);
    box-shadow: 0 0 15px rgba(33,33,33,0.2);
    z-index:2;
}

#footer_content{
    position:relative; top:20px;
	width:1000px; height:192px;
    margin-left:auto;
	margin-right:auto;
    z-index:1;
}

#footer_column{
    position:absolute; top:0px; left:000px;
    width:250px;
    z-index:2;
}

#copyright{
    position:absolute; top:150px; width:1000px;
    color:#999999; font-size:11px; font-family: 'Lato', sans-serif; font-weight: 300;
    text-align:right;
}


/*  --- TEXT FORMATTING --- */


.sublink{
    color:#999999; font-size:15px; font-family: 'Lato', sans-serif; font-weight: 300;
}

.sublink:hover{
    color:#333333; font-size:15px; font-family: 'Lato', sans-serif; font-weight: 300;
}

.text{
    color:#999999; font-size:15px; font-family: 'Lato', sans-serif; font-weight: 300;
}

.large_title{
    color:#333333; font-size:33px; font-family: 'Lato', sans-serif; font-weight: 400;
}

.footer_column_title{
    color:#999999; font-size:15px; font-family: 'Lato', sans-serif; font-weight: 400;
}

.footer_link{
    color:#999999; font-size:15px; text-decoration:none; font-family: 'Lato', sans-serif; font-weight:300;
}

.footer_link:hover{
    color:#333333; font-size:15px; text-decoration:none; font-family: 'Lato', sans-serif; font-weight:300;
}
    
a{
    color:#cc9999; text-decoration:none;;
}

a:hover{
    color:#dd2010; text-decoration:none;
}


/* --- SPRITES/ROLLOVERS --- */


.sprite {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
}

.sprite span {
  position: absolute; top:0; left:0; bottom:0; right:0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
}

.sprite:hover span {
  opacity: 1;
}

#facebook{
    position:relative; top:8px; left:0px;
    background: url(../img/facebook-button.jpg) no-repeat;
}

#facebook span {
  background: url(../img/facebook-button.jpg) no-repeat;
  background-position: -40px 0;
}

#linkedin{
    position:relative; top:8px; left:1px;
    background: url(../img/linkedin-button.jpg) no-repeat;
}

#linkedin span {
  background: url(../img/linkedin-button.jpg) no-repeat;
  background-position: -40px 0;
}

.button {
  display: inline-block;
  position: absolute; top:0px;
  width: 95px;
  height: 118px;
}

.button span {
  position: absolute; top:0; left:0; bottom:0; right:0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button:hover span {
  opacity: 1;
}

#current_button{
    position:absolute; top:0px; 
}

#join{background: url(../img/join-button.jpg) no-repeat;}
#join span {
  background: url(../img/join-button.jpg) no-repeat;
  background-position: -95px 0;
}

#news{background: url(../img/news-button.jpg) no-repeat;}
#news span {
  background: url(../img/news-button.jpg) no-repeat;
  background-position: -95px 0;
}

#members{background: url(../img/members-button.jpg) no-repeat;}
#members span {
  background: url(../img/members-button.jpg) no-repeat;
  background-position: -95px 0;
}

#chapter{background: url(../img/chapter-button.jpg) no-repeat;}
#chapter span {
  background: url(../img/chapter-button.jpg) no-repeat;
  background-position: -95px 0;
}

#national{background: url(../img/national-button.jpg) no-repeat;}
#national span {
  background: url(../img/national-button.jpg) no-repeat;
  background-position: -95px 0;
}


